trigger:
- main

pool:
  name: AGENTPOOL
  vmImage: ubuntu-latest

stages:
  - stage: build
    jobs:
      - job: buildStart
        steps:
          - script: |
              echo "line1"
              echo "line2"
          - script:
              echo "second script"
          - bash: sudo apt-get update
      - job: building
        steps:
          - script: |
              echo "job 2 started"
      - job: buildEend
        steps:
          - script: echo "build ended"
  - stage: deploy
    jobs: 
      - job: deploySstarted
        steps:
          - script: echo "deploy job started"
      - job: deploying
        steps:
          - script: |
              echo "deploying 1"
              echo "deploying 2"
      - job: deployended
        steps:
          - script: echo "deploying job ended"
          


       

    
    
    


 

 